

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th *ngFor="let cabecera of cabeceras">{{cabecera}}</th>
    </tr>




  </thead>
  <tbody>
    <tr *ngFor="let producto of productos" >
      <td class="bg-info">{{producto.idproducto}}</td>
      <td class="bg-danger">{{producto.idproducto}}</td>
      <td class="bg-warning">{{producto.idproducto}}</td>
      <td class="bg-success">{{producto.idproducto}}</td>
      <td class="bg-primary">{{producto.nombre}}</td>
      <td class="bg-info">{{producto.precio}}</td>
      <td class="bg-danger">{{producto.stock}}</td>
      <td class="bg-warning">{{producto.nombreCategoria}}</td>
    </tr>

  </tbody>

</table>

